* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    background-color: #f9cb77;
    ;
    ;
}

.title{
    padding: 10px;
    font-size: 46px;
    background-color: rgb(247, 158, 103);
}

p{
    margin-top: 90px;
    font-weight: 600;
    font-size: 26px;
}
.container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    padding: 10px 20px;
    font-size: 26px;
}

#botonRojo{
    border: 2px solid #ff3c3c;
}

#botonRojo:hover{
    background-color: #ff3c3c;
}

#botonAmarillo{
    border: 2px solid #ffff3c;
}

#botonAmarillo:hover{
    background-color: #ffff3c;
}

#botonVerde{
    border: 2px solid #5aff3c;
}

#botonVerde:hover{
    background-color: #5aff3c
}

#botonReiniciar{
    border: 2px solid #878f87;
}

#botonReiniciar:hover{
    background-color: #878f87;
}