* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    background-color: #f9cb77;
    ;
    ;
}

.title{
    padding: 10px;
    font-size: 46px;
    background-color: rgb(247, 158, 103);
}

#inputTexto{
    margin-top: 10px;
    width: 500px;
    height: 100px;
    font-size: 18px;
    border: 2px solid rgb(247, 158, 103);
    outline: none;
}

#inputTexto:focus{
    background-color: rgb(247, 158, 103);
}

.container{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

button{
    margin-top: 28px;
    padding: 10px 20px;
    border: 2px solid rgb(247, 158, 103);
    font-size: 26px;
}

button:hover{
    background-color: rgb(247, 158, 103);
}

#textoModificado{
    margin: 60px 400px;
}